.contact-form-section {
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-image: url("./kontakt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.FormAll {
  color: #f3f4f6;
  font-family: "Muli", sans-serif;
  line-height: 1.2;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}
.FormTitle {
  color: #f3f4f6;
  font-weight: bolder;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Muli", sans-serif;
  font-style: normal;
  line-height: 1.3;
  text-align: center;
  margin: 20px auto;
}

.inputField {
  margin-bottom: 15px;
  margin-right: 20px;
  max-width: 479px;
}

.inputField label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputField input,
textarea {
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin-top: 5px;
}

.inputRow {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.inputRow .inputField {
  flex: 1;
}

/* _________________Button___________________________ */

.buttonForm1 {
  background-color: #6ebb4b;
  color: #f3f4f6;
  font-family: Sans-serif;
  border-radius: 3px;
  padding: 30px 40px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
  max-width: fit-content;
  align-items: center;
}

.buttonForm1:active {
  transform: scale(0.98);
}

@media (max-width: 1200px) {
  .FormTitle {
    font-size: 21px;
    letter-spacing: 4px;
  }

  .inputRow {
    gap: 30px;
  }

  .buttonForm1 {
    padding: 25px 35px;
  }
}
@media (max-width: 992px) {
  .FormTitle {
    font-size: 19px;
    letter-spacing: 3px;
  }

  .inputRow {
    gap: 20px;
  }

  .buttonForm1 {
    padding: 20px 30px;
  }
}
@media (max-width: 768px) {
  .FormTitle {
    font-size: 17px;
    letter-spacing: 2px;
  }

  .inputField {
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 100%;
  }

  .inputRow {
    flex-direction: column; /* Przełączanie na układ pionowy */
    gap: 10px;
  }

  .buttonForm1 {
    padding: 15px 25px;
  }
}
@media (max-width: 576px) {
  .FormTitle {
    font-size: 15px;
    letter-spacing: 1px;
    margin: 15px auto;
  }

  .inputField {
    margin-bottom: 8px;
    margin-right: 5px;
  }

  .inputRow {
    gap: 5px;
  }

  .buttonForm1 {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
  }
}
